table, th, td {
  border: 1px solid black !important;
  background-color: white ;
  border-collapse: collapse;

}
th,td{
  text-align: center;
  padding-top: 1px;
  padding-right: 5vw;
  padding-bottom: 1px;
  padding-left: 10px;
}
