
<body>
  <h2 *ngIf="myName">Hello {{myName}}</h2>
  <table>
  <tr  *ngFor="let row of rows,index as iRow">
    <td  [ngClass]="{'td-bg':(iCol%2===0 && iRow%2!==0)|| (iCol%2===1 && iRow%2!==1)}"
    *ngFor="let col of columns; index as iCol"
    (click)="onClickBoard(iRow,iCol)">
      <div  *ngIf="isRedPieceInCell(iRow,iCol)"
       class="dot-red"></div>
         <div *ngIf="isBlackPieceInCell(iRow,iCol)"
           class="dot-black"></div>

    </td>
  </tr>
</table>
<button (click)="onQuit()" class="btn btn-danger"><span id="quit">Quit</span></button>
<app-refuse-modal [refuseMessage]="refuseMessage" ></app-refuse-modal>
<span #openRefuseModal  data-toggle="modal" data-target="#refusengeModal">

</span>
</body>



